# Android build files
*.apk
*.ap_
*.aab
*.dex
*.class

bin/
gen/
out/
build/
intermediates/
dexed/
libs/
apk-lib/

# Local config
local.properties

# Logs
*.log

# Android Studio
.navigation/
captures/

# Keystores
*.jks
*.keystore

# Native build
.externalNativeBuild
.cxx/

# Google API Keys
*.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Kotlin / cache
*.lock

# IDEs / AI tools
.idea/
.claude/
.gradle/

# IntelliJ
*.iml